/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
/public/hot
/public/build
/public/mix-manifest.json
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/data/*
.env.backup
.env.testing
.env.production
